<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="<%= env === 'development' ? '/styles/main.scss.css' : '/styles/main.scss.min.css?'+version %>" />

	</head>
	<body>
		<section id="container">
			
		</section>




		<script type="text/javascript" src="<%= env === 'development' ? '/scripts/bundle.js' : '/scripts/bundle.min.js?'+version %>"></script>


		<script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>

		<input type="filepicker" data-fp-apikey="AifGt857oRLCoRsu9sfJfz" onchange="alert(event.fpfile.url)">
	</body>
</html>
