@import 'variables';



h2{
	font-weight: 700;
	color: $huddle-brown;
}
.msgSitter {
	border: 2px solid $huddle-blue;
	border-radius: 0.25em;
	color: $huddle-cream;
	background-color: $huddle-blue;
	text-align: center;

}
.msgSitter:hover{
	background-color: $huddle-red;
  }
