@import 'variables';

.container{
	margin-top: 2em;
}

h2{
	font-weight: 700;
	color: $huddle-brown;
	font-size: 3em;
}

textarea {
	width: 100%;
	height:auto;
}
img{
	max-width: 100%;
}
.numberandtypes {
	border-top: 5px solid $huddle-blue;
	margin-top: 1em;
}
.photopara-critters{
  border-top: 2px solid $huddle-blue;
  margin-top: 4em;
}
input[type="number"] {
	background-color: $huddle-cream;
	box-sizing: border-box;
	padding: 1em; 
}
.uploadedphoto {
	border: none;
}
.critterphoto {
	
}