@import 'variables';

.container{
	margin-top: 2em;
}

h2{
	font-weight: 700;
	color: $huddle-brown;
	font-size: 3em;
}
.photopara{
  border-top: 5px solid $huddle-blue;
}


textarea {
	width:100%;
}
img{
	max-width: 100%;
}