
@import url(https://www.google.com/fonts#UsePlace:use/Collection:Oleo+Script|Roboto+Slab);
@import 'variables';

h1 {
	font-family: 'Roboto Slab', serif;
	color: $huddle-red;
}

a {
	text-decoration: none;
}

// page components
body {
	font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;

	font-size: 18px;
}

nav, section, footer {
	padding-left: 2em;
	padding-right: 2em;
}

section {
	margin-top: 1em;
}

// navigation styles
nav {
  background-color: #A3282F;
 
}








// footer styles

footer {
	border-top: 1px solid #d3d3d3;
	// background-color: $color-light-grey;
	font-size: 0.75em;
	padding-top: 1em;
	padding-bottom: 1em;
}