
@import url(https://www.google.com/fonts#UsePlace:use/Collection:Oleo+Script|Roboto+Slab);
@import 'variables';

p{
  line-height: 1.5em;
}

h1, h2, h3 {
	font-family: 'Roboto Slab', sans-serif;
	color: $huddle-red;
}
input:-webkit-autofill {
    background-color: $huddle-cream !important;
}

// page components
body {
	font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
	font-size: 18px;
  color: $huddle-brown;
  margin: 1em;
}

p {
  margin-bottom: 0em;
}

.critterSitter {
  font-weight: 600;
}

.button.button-primary,
button.button-primary {
  color: $huddle-cream;
  background-color: $huddle-blue;
  border: 2px solid $huddle-cream;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
}

.button.button-primary:hover,
button.button-primary:hover {
  color: $huddle-cream;
  background-color: $huddle-red;
  border: 2px solid $huddle-cream;
}

input:-webkit-autofill {

  background-color: $huddle-cream !important; }

