@import 'variables';

a {
	color: $huddle-blue;
}
.page-section-home{
	margin: 1em;
}
h3{
	font-weight: 700;
	color: $huddle-brown;
	margin: 0;
}

.homediv {
	font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
	text-overflow: hidden;
	img{
		width: 100%;
		height: 100%;
	}
	.photocredit {
		font-size: 0.5em;
		margin-top: -8px;
		float: right;
	}
	.hometext {
		margin-top: 1em;
	}

}
.homepara{
	margin-bottom: 1em;
}
