@import 'variables';


h2{
	font-weight: 700;
	color: $huddle-brown;
}

input[type="email"], input[type="text"], input[type="password"] {
  height: 38px;
  padding: 6px 10px;
  background-color: $huddle-cream;
  border: 1px solid $huddle-brown;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }