@import 'variables';

.container {

}

h2{
	font-weight: 700;
	color: $huddle-brown;
}
.listofmessages {
	border-top: 5px solid $huddle-blue;

}

.fromdatebody{
	margin-top: 1em;
	span{
		color: $huddle-blue;
	}
}

img{
  max-width: 100%;
  height: auto;
  margin-top: 0.5em;
}