@import 'variables';


.navdiv {
	background-color: $huddle-blue;
	color: $huddle-cream;
	overflow: hidden;
	width: 100%;
	font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
	// border-bottom: 12px solid $huddle-blue;
	margin-bottom: 1em;
}

.nav-link {
	background-color: $huddle-blue;
	color: $huddle-cream;
	border: none;
	float: right;
	display: inline-block;
	margin-left: 1.5em;
	margin-right: 0.5em;
	height: 1.5em;
	text-align: center;
	text-decoration: none;
	border:none;
	cursor: pointer;
	// box-sizing: border-box;

}

.nav-link:hover {
	color: $huddle-red;
}
.nav-link:active {
	color: $huddle-red;
}