@import 'variables';

.container{
	margin-top: 2em;
}

h2{
	font-weight: 700;
	color: $huddle-brown;
	font-size: 3em;
}
.photopara-sitters{
  border-top: 5px solid $huddle-blue;
}

textarea {
	width: 100%;
	height:auto;
}
img{
	max-width: 100%;
}
.radiobuttonsintro {
	border-top: 2px solid $huddle-blue;
	margin-top: 1em;
}

.radiobuttons-home{
	label {
		input[type="radio"] {
		  box-sizing: border-box;
		  margin-right: 0.5em 
		}
	font-weight: 200;
	font-size: 0.75em;
	}
}
.ydStyleSize{
	label {
		input[type="radio"] {
		  box-sizing: border-box;
		  margin-right: 0.5em 
		}
	font-weight: 200;
	font-size: 0.7em;
	}
	.four.columns{
		margin:0.1em;
	}
}
.devEnviron{
	label {
		input[type="radio"] {
		  box-sizing: border-box;
		  margin-right: 0.5em 
		}
	font-weight: 200;
	font-size: 0.75em;
	}
}
